<div class="card">
    <p-toast position="top-right"></p-toast>
    <div class="font-semibold text-xl mb-4">Patient profile</div>
    <p-splitter [style]="{ height: '800px' }" [panelSizes]="[70, 30]" [minSizes]="[10, 0]" styleClass="mb-8">
        <ng-template #panel>
            <p-splitter layout="vertical" [panelSizes]="[20, 80]">
                <ng-template #panel>
                    <div class="w-full p-6 bg-surface-0 dark:bg-surface-900 rounded flex justify-between items-center">
                        <p-image src="{{ patient.photoUrl }}" alt="Image" width="150" />

                        <div class="flex flex-col gap-4 ml-6 flex-1">
                            <div class="flex flex-row justify-between items-start gap-2">
                                <div>
                                    <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ patient.name }}</span>
                                    <div class="text-lg font-medium mt-1">
                                        {{ patient.surname }}
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col gap-2">
                                <div>
                                    <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">Previous meeting: {{ getPreviousMeetingDate(patient.id)}}</span>
                                    <div class="text-lg font-medium mt-1">
                                        Next meeting: {{ getNextMeetingDate(patient.id) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex gap-4 items-center">
                            <p-button
                                *ngIf="!isEditMode"
                                label="Edit"
                                icon="pi pi-user-edit"
                                severity="secondary"
                                raised
                                (click)="enterEdit()"
                            ></p-button>

                            <p-button
                                *ngIf="isEditMode"
                                label="Save"
                                icon="pi pi-save"
                                raised
                                (click)="savePatient()"
                            ></p-button>

                            <p-button
                                *ngIf="isEditMode"
                                label="Cancel"
                                icon="pi pi-times"
                                severity="warn"
                                raised
                                (click)="cancelEdit()"
                            ></p-button>

                            <p-button
                                *ngIf="isEditMode && !isNewPatientMode"
                                label="Delete"
                                icon="pi pi-trash"
                                severity="danger"
                                raised
                                (click)="openConfirmDialog()"
                            ></p-button>

                            <p-dialog header="Confirmation" [(visible)]="displayConfirmDialog" [style]="{ width: '350px' }" [modal]="true">
                                <div class="flex items-center justify-center">
                                    <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
                                    <span>Are you sure you want to delete patient?</span>
                                </div>
                                <ng-template #footer>
                                    <p-button label="No" icon="pi pi-times" (click)="closeConfirmDialog()" text severity="secondary" />
                                    <p-button label="Yes" icon="pi pi-check" (click)="deletePatient()" severity="danger" outlined autofocus />
                                </ng-template>
                            </p-dialog>

                        </div>
                    </div>
                </ng-template>
                <ng-template #panel>
                    <p-splitter [panelSizes]="[40,60]">
                        <ng-template #panel>
                            <div class="card flex flex-col gap-4">
                                <div class="font-semibold text-xl flex items-center justify-center">Info</div>

                                <div class="flex flex-col gap-2">
                                    <label for="name1">Name</label>
                                    <input pInputText id="name1" type="text" [(ngModel)]="patient.name" [disabled]="!isEditMode" />
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label for="surname1">Surname</label>
                                    <input pInputText id="surname1" type="text" [(ngModel)]="patient.surname" [disabled]="!isEditMode" />
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label>Birth Date</label>
                                    <p-datepicker
                                        [(ngModel)]="patient.birthDate"
                                        [disabled]="!isEditMode"
                                        [showIcon]="true"
                                        [showButtonBar]="true"
                                        dateFormat="yy MM dd"
                                        inputId="birthDatePicker">
                                    </p-datepicker>
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label for="surname1">Gender</label>
                                    <input pInputText id="surname1" type="text" [(ngModel)]="patient.gender" [disabled]="!isEditMode" />
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label for="email1">Phone Number</label>
                                    <input pInputText id="email1" type="text" [(ngModel)]="patient.phoneNumber" [disabled]="!isEditMode" />
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label for="email1">Email</label>
                                    <input pInputText id="email1" type="text" [(ngModel)]="patient.email" [disabled]="!isEditMode" />
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label for="surname1">Address</label>
                                    <input pInputText id="surname1" type="text" [(ngModel)]="patient.address" [disabled]="!isEditMode" />
                                </div>

                            </div>
                        </ng-template>
                        <ng-template #panel>
                            <div class="card flex flex-col gap-4">
                                <div class="col flex items-center justify-center font-semibold text-xl">Notes</div>
                                <textarea
                                    pTextarea
                                    placeholder="Notes go here"
                                    [autoResize]="true"
                                    rows="30"
                                    cols="30"
                                    [(ngModel)]="patient.notes"
                                    [disabled]="!isEditMode"
                                ></textarea>
                            </div>
                        </ng-template>
                    </p-splitter>
                </ng-template>
            </p-splitter>
        </ng-template>
            <ng-template #panel>
            <p-splitter layout="vertical" [panelSizes]="[35, 65]">
                <ng-template #panel>
                    <div class="card">

                        <!-- context menu instance (one only) -->
                        <p-contextMenu #cm [model]="symptomsCMItems"></p-contextMenu>

                        <p-table
                            [value]="meetings"
                            [scrollable]="true"
                            scrollHeight="200px"
                            styleClass="mt-4"
                            [contextMenu]="cm"
                            [(contextMenuSelection)]="selectedSymptom"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-xl" style="min-width:100px">Symptoms</th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-customer>
                                <tr
                                    class="hover-scale cursor-pointer"
                                    [routerLink]="['/view','symptom']"
                                    (contextmenu)="$event.preventDefault()"
                                    [pContextMenuRow]="customer">
                                      <!-- this ties the row to the context menu -->
                                    <td style="min-width:100px">{{ customer.id }}</td>
                                </tr>
                            </ng-template>
                        </p-table>

                        <div class="w-full flex justify-center mt-4">
                            <p-button label="Add Symptom" icon="pi pi-plus" iconPos="right"></p-button>
                        </div>
                    </div>
                </ng-template>
                <ng-template #panel>
                    <div class="card">
                        <div class="w-full flex justify-between">
                            <div class="font-semibold text-xl mb-4">Meetings</div>
                            <p-button label="Schedule Meeting" icon="pi pi-plus" iconPos="right"></p-button>
                        </div>
                        <p-contextMenu #cmMeetings [model]="meetingsCMItems"></p-contextMenu>

                        <p-tabs value="0">
                            <p-tablist>
                                <p-tab value="0">Upcoming</p-tab>
                                <p-tab value="1">History</p-tab>
                            </p-tablist>

                            <p-tabpanels>
                                <p-tabpanel value="0">
                                    <div class="card">
                                        <p-table
                                            [value]="upcomingMeetings"
                                            [scrollable]="true"
                                            scrollHeight="350px"
                                            styleClass="mt-4"
                                            [contextMenu]="cmMeetings"
                                            [(contextMenuSelection)]="selectedMeeting"
                                        >
                                            <ng-template #header>
                                                <tr>
                                                    <th style="min-width:100px">Date</th>
                                                    <th style="min-width:100px">Time</th>
                                                    <th style="min-width:100px">Duration</th>
                                                </tr>
                                            </ng-template>

                                            <ng-template #body let-meeting>
                                                <tr
                                                    class="hover-scale cursor-pointer"
                                                    [routerLink]="['/view','meeting', meeting.id]"
                                                    [pContextMenuRow]="meeting"
                                                    (contextmenu)="$event.preventDefault()"
                                                >
                                                    <td class="font-bold">{{ meeting.date }}</td>
                                                    <td style="min-width:100px">{{ meeting.startTime }}</td>
                                                    <td style="min-width:100px">{{ meeting.duration }}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </p-tabpanel>

                                <p-tabpanel value="1">
                                    <div class="card">
                                        <p-table
                                            [value]="pastMeetings"
                                            [scrollable]="true"
                                            scrollHeight="300px"
                                            styleClass="mt-4"
                                            [contextMenu]="cmMeetings"
                                            [(contextMenuSelection)]="selectedMeeting"
                                        >
                                            <ng-template #header>
                                                <tr>
                                                    <th style="min-width:100px">Date</th>
                                                    <th style="min-width:100px">Time</th>
                                                    <th style="min-width:100px">Duration</th>
                                                </tr>
                                            </ng-template>

                                            <ng-template #body let-meeting>
                                                <tr
                                                    class="hover-scale cursor-pointer"
                                                    [routerLink]="['/view','meeting', meeting.id]"
                                                    [pContextMenuRow]="meeting"
                                                    (contextmenu)="$event.preventDefault()"
                                                >
                                                    <td class="font-bold">{{ meeting.date }}</td>
                                                    <td style="min-width:100px">{{ meeting.startTime }}</td>
                                                    <td style="min-width:100px">{{ meeting.duration }}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </p-tabpanel>
                            </p-tabpanels>
                        </p-tabs>
                    </div>
                </ng-template>
            </p-splitter>
        </ng-template>
    </p-splitter>
</div>
