<div class="card">
    <div class="font-semibold text-xl mb-4">Patient profile</div>
    <p-splitter [style]="{ height: '800px' }" [panelSizes]="[70, 30]" [minSizes]="[10, 0]" styleClass="mb-8">
        <ng-template #panel>
            <p-splitter layout="vertical" [panelSizes]="[20, 80]">
                <ng-template #panel>
                    <div class="w-full p-6 bg-surface-0 dark:bg-surface-900 rounded flex justify-between items-center">
                        <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" alt="Image" width="150" />

                        <div class="flex flex-col gap-4 ml-6 flex-1">
                            <div class="flex flex-row justify-between items-start gap-2">
                                <div>
                                    <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">PATIENT NAME</span>
                                    <div class="text-lg font-medium mt-1">
                                        PATIENT SURNAME
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col gap-2">
                                <div>
                                    <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">LAST MEETING DATE</span>
                                    <div class="text-lg font-medium mt-1">
                                        NEXT MEETING DATE
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex gap-4 items-center">
                            <p-button
                                *ngIf="!isEditMode"
                                label="Edit"
                                icon="pi pi-user-edit"
                                severity="secondary"
                                raised
                                (click)="enterEdit()"
                            ></p-button>

                            <p-button
                                *ngIf="isEditMode"
                                label="Save"
                                icon="pi pi-save"
                                raised
                                (click)="save()"
                            ></p-button>

                            <p-button
                                *ngIf="isEditMode"
                                label="Cancel"
                                icon="pi pi-times"
                                severity="danger"
                                raised
                                (click)="cancelEdit()"
                            ></p-button>
                        </div>
                    </div>
                </ng-template>
                <ng-template #panel>
                    <p-splitter [panelSizes]="[40,60]">
                        <ng-template #panel>
                            <div class="card flex flex-col gap-4">
                                <div class="font-semibold text-xl flex items-center justify-center">Info</div>

                                <div class="flex flex-col gap-2">
                                    <label for="name1">Name</label>
                                    <input pInputText id="name1" type="text" [(ngModel)]="patient.name" [readonly]="!isEditMode" />
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label for="surname1">Surname</label>
                                    <input pInputText id="surname1" type="text" [(ngModel)]="patient.surname" [readonly]="!isEditMode" />
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label for="age1">Age</label>
                                    <input pInputText id="age1" type="text" [(ngModel)]="patient.age" [readonly]="!isEditMode" />
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label for="email1">Email</label>
                                    <input pInputText id="email1" type="text" [(ngModel)]="patient.email" [readonly]="!isEditMode" />
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label for="phone1">Phone</label>
                                    <input pInputText id="phone1" type="text" [(ngModel)]="patient.phone" [readonly]="!isEditMode" />
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #panel>
                            <div class="card flex flex-col gap-4">
                                <div class="col flex items-center justify-center font-semibold text-xl">Notes</div>
                                <textarea
                                    pTextarea
                                    placeholder="Notes go here"
                                    [autoResize]="true"
                                    rows="30"
                                    cols="30"
                                    [(ngModel)]="patient.notes"
                                    [readonly]="!isEditMode"
                                ></textarea>
                            </div>
                        </ng-template>
                    </p-splitter>
                </ng-template>
            </p-splitter>
        </ng-template>
            <ng-template #panel>
            <p-splitter layout="vertical" [panelSizes]="[35, 65]">
                <ng-template #panel>
                    <div class="card">

                        <!-- context menu instance (one only) -->
                        <p-contextMenu #cm [model]="symptomsCMItems"></p-contextMenu>

                        <p-table
                            [value]="customers2"
                            [scrollable]="true"
                            scrollHeight="200px"
                            styleClass="mt-4"
                            [contextMenu]="cm"
                            [(contextMenuSelection)]="selectedSymptom"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-xl" style="min-width:100px">Symptoms</th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-customer>
                                <tr
                                    class="hover-scale cursor-pointer"
                                    [routerLink]="['/object-view','symptom-view']"
                                    (contextmenu)="$event.preventDefault()"
                                    [pContextMenuRow]="customer">
                                      <!-- this ties the row to the context menu -->
                                    <td style="min-width:100px">{{ customer.id }}</td>
                                </tr>
                            </ng-template>
                        </p-table>

                        <div class="w-full flex justify-center mt-4">
                            <p-button label="Add Symptom" icon="pi pi-plus" iconPos="right"></p-button>
                        </div>
                    </div>
                </ng-template>
                <ng-template #panel>
                    <div class="card">
                        <div class="w-full flex justify-between">
                            <div class="font-semibold text-xl mb-4">Meetings</div>
                            <p-button label="Schedule Meeting" icon="pi pi-plus" iconPos="right"></p-button>
                        </div>
                        <p-contextMenu #cmMeetings [model]="meetingsCMItems"></p-contextMenu>

                        <p-tabs value="0">
                            <p-tablist>
                                <p-tab value="0">Upcoming</p-tab>
                                <p-tab value="1">History</p-tab>
                            </p-tablist>

                            <p-tabpanels>
                                <p-tabpanel value="0">
                                    <div class="card">
                                        <p-table
                                            [value]="customers2"
                                            [scrollable]="true"
                                            scrollHeight="350px"
                                            styleClass="mt-4"
                                            [contextMenu]="cmMeetings"
                                            [(contextMenuSelection)]="selectedMeeting"
                                        >
                                            <ng-template #header>
                                                <tr>
                                                    <th style="min-width:100px">Meeting date</th>
                                                    <th style="min-width:100px">Meeting time</th>
                                                </tr>
                                            </ng-template>

                                            <ng-template #body let-customer>
                                                <tr
                                                    class="hover-scale cursor-pointer"
                                                    [routerLink]="['/object-view','meeting-view']"
                                                    [pContextMenuRow]="customer"
                                                    (contextmenu)="$event.preventDefault()"
                                                >
                                                    <td class="font-bold">{{ customer.name }}</td>
                                                    <td style="min-width:100px">{{ customer.id }}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </p-tabpanel>

                                <p-tabpanel value="1">
                                    <div class="card">
                                        <p-table
                                            [value]="customers2"
                                            [scrollable]="true"
                                            scrollHeight="300px"
                                            styleClass="mt-4"
                                            [contextMenu]="cmMeetings"
                                            [(contextMenuSelection)]="selectedMeeting"
                                        >
                                            <ng-template #header>
                                                <tr>
                                                    <th style="min-width:100px">Meeting date</th>
                                                    <th style="min-width:100px">Meeting time</th>
                                                </tr>
                                            </ng-template>

                                            <ng-template #body let-customer>
                                                <tr
                                                    class="hover-scale cursor-pointer"
                                                    [routerLink]="['/object-view','meeting-view']"
                                                    [pContextMenuRow]="customer"
                                                    (contextmenu)="$event.preventDefault()"
                                                >
                                                    <td class="font-bold">{{ customer.name }}</td>
                                                    <td style="min-width:100px">{{ customer.id }}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </p-tabpanel>
                            </p-tabpanels>
                        </p-tabs>
                    </div>
                </ng-template>
            </p-splitter>
        </ng-template>
    </p-splitter>
</div>
