<div class="card">
    <div class="font-semibold text-xl mb-4">SEARCH BAR AND UTIL BUTTONS</div>
    <p-toolbar>
        <ng-template #start>
            <p-button icon="pi pi-plus" class="mr-2" severity="secondary" text />
            <p-button icon="pi pi-print" class="mr-2" severity="secondary" text />
            <p-button icon="pi pi-upload" severity="secondary" text />
        </ng-template>

        <ng-template #center>
            <p-iconfield>
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText placeholder="Search" />
            </p-iconfield>
        </ng-template>
    </p-toolbar>
</div>

<div class="card">
    <div class="font-semibold text-xl">Patients</div>
    <p-dataview [value]="products" [layout]="layout">
        <ng-template #header>
            <div class="flex justify-end">
                <p-select-button [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                    <ng-template #item let-option>
                        <i class="pi " [ngClass]="{ 'pi-bars': option === 'list', 'pi-table': option === 'grid' }"></i>
                    </ng-template>
                </p-select-button>
            </div>
        </ng-template>

        <ng-template #grid let-items>
            <div class="grid grid-cols-12 gap-4">
                <div *ngFor="let item of items; let i = index" class="col-span-12 sm:col-span-6 lg:col-span-4 p-2">
                    <div class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded flex flex-col">
                        <div class="relative w-full shadow-sm">
                            <img class="rounded w-full" src="https://primefaces.org/cdn/primevue/images/product/{{ item.image }}" [alt]="item.name" />
                            <div
                                class="absolute bg-black/70 rounded-border"
                                [style]="{
                                            left: '4px',
                                            top: '4px'
                                        }"
                            >
                                <p-tag [value]="'PATIENT ACTIVITY'" [severity]="getSeverity(item)"></p-tag>
                            </div>
                        </div>
                        <div class="pt-12">
                            <div class="flex flex-row justify-between items-start gap-2">
                                <div>
                                    <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">PATIENT NAME</span>
                                    <div class="text-lg font-medium mt-1">
                                        PATIENT SURNAME
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-6 mt-6">
                                <span class="text-2xl font-semibold">NEXT MEETING DATE</span>
                                <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">LAST MEETING DATE</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #list let-items>
            <div class="flex flex-col">
                <div *ngFor="let item of items; let i = index">
                    <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-4" [ngClass]="{ 'border-t border-surface': i !== 0 }">
                        <div class="md:w-40 relative">
                            <img class="block xl:block mx-auto rounded w-full" src="https://primefaces.org/cdn/primevue/images/product/{{ item.image }}" [alt]="item.name" />
                            <div class="absolute bg-black/70 rounded-border" [style]="{ left: '4px', top: '4px' }">
                                <p-tag [value]="'PATIENT ACTIVITY'" [severity]="getSeverity(item)"></p-tag>
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                            <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                <div>
                                    <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">PATIENT NAME</span>
                                    <div class="text-lg font-medium mt-2">PATIENT SURNAME</div>
                                </div>

                            </div>
                            <div class="flex flex-col md:items-end gap-8">
                                <span class="text-xl font-semibold">NEXT MEETING DATE</span>
                                <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">LAST MEETING DATE</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataview>
</div>
