<div class="card">
    <div class="font-semibold text-xl mb-4">SEARCH BAR AND UTIL BUTTONS</div>
    <p-toolbar>
        <ng-template #start>
            <p-button icon="pi pi-plus" class="mr-2" severity="secondary" text />
            <p-button icon="pi pi-print" class="mr-2" severity="secondary" text />
            <p-button icon="pi pi-upload" severity="secondary" text />
        </ng-template>

        <ng-template #center>
            <p-iconfield>
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText placeholder="Search" />
            </p-iconfield>
        </ng-template>
    </p-toolbar>
</div>

<div class="card">
    <div class="w-full flex justify-between mt-4">
        <div class="font-semibold text-xl">Patients</div>
        <p-button [routerLink]="['/view', 'patient', 'newPatient']" label="Add Patient" icon="pi pi-plus" iconPos="right"></p-button>
    </div>
    <p-dataview [value]="patients" [layout]="layout">
        <ng-template #header>
            <div class="flex justify-end">
                <p-select-button [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                    <ng-template #item let-option>
                        <i class="pi " [ngClass]="{ 'pi-bars': option === 'list', 'pi-table': option === 'grid' }"></i>
                    </ng-template>
                </p-select-button>
            </div>
        </ng-template>

        <ng-template #grid let-items>
            <div class="grid grid-cols-12 gap-4">
                <div *ngFor="let p of patients; let i = index" class="col-span-12 sm:col-span-6 lg:col-span-4 p-2 hover-scale"
                     [routerLink]="['/view', 'patient', p.id]">
                    <!-- ADD ID TO LINK -->
                    <div class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded flex flex-col">
                        <div class="relative w-full shadow-sm">
                            <img class="rounded w-full" src="{{ p.photoUrl }}" [alt]="p.name" />
                            <div
                                class="absolute bg-black/70 rounded-border"
                                [style]="{
                                            left: '4px',
                                            top: '4px'
                                        }"
                            >
                                <!-- <p-tag [value]="'PATIENT ACTIVITY'" [severity]="{{ p.activityLevel }}"></p-tag> -->
                            </div>
                        </div>
                        <div class="pt-12">
                            <div class="flex flex-row justify-between items-start gap-2">
                                <div>
                                    <span class="font-medium text-surface-500 dark:text-surface-400 text-sm"> {{ p.name }} </span>
                                    <div class="text-lg font-medium mt-1">
                                        {{ p.surname }}
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-6 mt-6">
                                <span class="text-2xl font-semibold">Next meeting: {{ getNextMeetingDate(p.id) }}</span>
                                <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">Previous meeting: {{ getPreviousMeetingDate(p.id) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #list let-items>
            <div class="flex flex-col">
                <div *ngFor="let p of patients; let i = index">
                    <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 hover-scale" [ngClass]="{ 'border-t border-surface': i !== 0 }"
                         [routerLink]="['/view', 'patient', p.id]">
                        <!-- ADD IT DO LINK -->
                        <div class="md:w-40 relative">
                            <img class="block xl:block mx-auto rounded w-full" src="{{ p.photoUrl }}" [alt]="p.name" />
                            <div class="absolute bg-black/70 rounded-border" [style]="{ left: '4px', top: '4px' }">
                                <!-- <p-tag [value]="'PATIENT ACTIVITY'" [severity]="getSeverity(item)"></p-tag> -->
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                            <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                <div>
                                    <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ p.name }}</span>
                                    <div class="text-lg font-medium mt-2">{{ p.surname }}</div>
                                </div>

                            </div>
                            <div class="flex flex-col md:items-end gap-8">
                                <span class="text-xl font-semibold">Next meeting: {{ getNextMeetingDate(p.id) }}</span>
                                <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">Previous meeting: {{ getPreviousMeetingDate(p.id) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataview>
</div>
