.hover-scale {
    transition: background-color 0.18s ease !important;
    cursor: pointer !important;
}

.hover-scale:hover td {
    background-color: #f3f3f3 !important;
}

.hover-scale:hover {
    transform: scale(1.03);
}

:host ::ng-deep .p-autocomplete,
:host ::ng-deep .p-autocomplete-input {
    width: 100%;
}

.profile-img {
    display: block;
    padding: 10px;
    border-radius: 16px;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
