<div class="card">
    <div class="font-semibold text-xl mb-4">EXERCISE VIEW</div>
    <p-splitter [style]="{ height: '800px' }" [panelSizes]="[70, 30]" [minSizes]="[10, 0]" styleClass="mb-8">
        <ng-template #panel>
            <p-splitter layout="vertical" [panelSizes]="[20, 80]">
                <ng-template #panel>
                    <div class="w-full p-6 bg-surface-0 dark:bg-surface-900 rounded flex justify-between items-center">
                        <div class="flex flex-col gap-2">
                            <div class="text-xl font-medium mt-1">
                                {{ exercise.name }}
                            </div>
                        </div>
                        <div class="flex gap-4 items-center">
                            <p-button
                                *ngIf="!isEditMode"
                                label="Edit"
                                icon="pi pi-user-edit"
                                severity="secondary"
                                raised
                                (click)="enterEdit()"
                            ></p-button>

                            <p-button
                                *ngIf="isEditMode"
                                label="Save"
                                icon="pi pi-save"
                                raised
                                (click)="save()"
                            ></p-button>

                            <p-button
                                *ngIf="isEditMode"
                                label="Cancel"
                                icon="pi pi-times"
                                severity="danger"
                                raised
                                (click)="cancelEdit()"
                            ></p-button>
                        </div>
                    </div>
                </ng-template>
                <ng-template #panel>
                    <p-splitter [panelSizes]="[40,60]">
                        <ng-template #panel>
                            <div class="card flex flex-col gap-4">
                                <div class="font-semibold text-xl flex items-center justify-center">Info</div>
                                <div class="flex flex-col gap-2">
                                    <label for="name1">Name</label>
                                    <input pInputText id="name1" type="text" [(ngModel)]="exercise.name" [disabled]="!isEditMode" />
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #panel>
                            <div class="card flex flex-col gap-4">
                                <div class="col flex items-center justify-center font-semibold text-xl">Notes</div>
                                <textarea
                                    pTextarea placeholder="Type here"
                                    [autoResize]="true"
                                    rows="25"
                                    cols="30"
                                    [(ngModel)]="exercise.notes"
                                    [disabled]="!isEditMode"
                                ></textarea>
                            </div>
                        </ng-template>
                    </p-splitter>
                </ng-template>
            </p-splitter>
        </ng-template>
        <ng-template #panel>
            <div class="card">
                <div class="font-semibold text-xl mb-4">Symptoms addressed</div>
                <div class="card">
                    <p-table [value]="customers2" [scrollable]="true" scrollHeight="600px" styleClass="mt-4">
                        <ng-template #header>
                            <tr>
                                <th style="min-width:300px">Symptoms</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-customer>
                            <tr class="hover-scale cursor-pointer"
                                [routerLink]="['/view','symptom']"
                            >
                                <td style="min-width:100px">{{ customer.id }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </ng-template>
    </p-splitter>
</div>
